.tinderCards {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position:relative;
    transition: opacity 0.1s ease-in-out;
    margin-bottom: 20px;
}

.tinderContainer {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.swipe {
    background-color: #F2F2F2;
    border: 1px groove;
    border-radius: 15px;
    box-shadow: 1px rgb(195, 195, 195);
    position: absolute;
    top: 15%;
    margin-top: -30px;
    z-index: 2;
    text-align: center;
    display: inline-block;
    width: 90vw;
    height: 100vw;
    max-width: 400px;
    max-height: 600px;

}

.swipeImg {
    width: 290px;
    height: 250px;
    object-fit: cover;
    position: relative;
    margin: 0px;
    border: none;
    border-width: 1px;
    box-shadow: 4px 4px 4px 4px rgb(195, 195, 195);
}

.swipeDogName {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    text-align: center;
    border-bottom: 1px outset #8C8B8B;

}

.swipeDogAge {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin: 0;
    text-align: right;

}

.swipeDogLocation {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-weight: bold;
}

.swipeDogOrg {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}



