.tinderCards {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
}

.tinderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.swipe {
    position: absolute;
    background-color: #F2F2F2;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgb(195, 195, 195);
    right: auto;
    top: 30%;
    left: 25%
}

.swipeImg {
    width: 225px;
    height: 250px;
    object-fit: cover;
    position: relative;
    margin: 0px;
    border-radius: 15px 15px 0 0;
    box-shadow: 4px 4px 4px rgb(195, 195, 195);
}

.swipeDogName {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    text-align: center;
    border-bottom: 1px outset #8C8B8B;
}

.swipeDogLocation {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
}



