.landingHeader{
    position: relative;
}

.landingH2 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 170px 0 200px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    color: #fff;
    text-shadow: 2px 2px rgb(42, 42, 42);
}

.landingHeadImg {
    height: 520px;
    width: 100%;
    object-fit: cover;
    object-position: 0px -350px;
}

.landingH3 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}

.landingDesc {
    display: flex;
    justify-content: center;
}

.landingList {
    list-style: none;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    display: inline-flex;
    width: 20%;
    flex-wrap: wrap;
    flex-direction: column;
}

.landingIcon {
    width: 100px;
    margin: auto;
}