.likesHeader{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 20px;
}

.likedDogsContainer {
    padding-bottom: 20px;
} 

.likedDogsContainer h2, p, img {
    margin: 15px;
}

.likedDogsEx {
    line-height: 18px;
}

.likedDogsMeet {
    display: flex;
    justify-content: center;
    width: 100%;
}

.likedDogsMeet h3 {
    margin: 0px;
}

@media screen and (min-width: 1200px) {
    .likesHeader{
        margin: 35px;
    }
}




