.likesHeader{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;
}

.likedDogsContainer {
    padding-bottom: 25px;
} 

.likedDogsContainer h2 {
    margin: 15px;
}

.likedDogsContainer p {
    margin: 15px;
} 

.likedDogsEx {
    line-height: 18px;
}



.likedDogsMeet {
    display: block;
}



