.login-signupContainer {
  padding: 0;
  margin: 5vh 2vw;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
}

.login-signupCard {
  width: 100%;
  height: 100%;
  height: 78vh;
}

.flippyCard {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 95vw;
  height: vh;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.contentTwo {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.flipComp {
  bottom: 0;
}