.settingsContainer {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}


.settingsContainer h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
}

.settingsLogout {
    margin: auto !important;
}

.settingsInput {
    font-family: 'Oxygen', sans-serif;
    height: 60px;
}

.settingsFooter{
    text-align: center;
    margin-top: 100px;
}

.settingsFooter{
    color: rgb(126, 126, 126);
}

.settingsLinks > a {
    color: rgb(126, 126, 126);
}

.settingsLinks > a:hover {
    text-decoration: none;
}