.cards {
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
}

.swipe {
    position: absolute;
    right: 50%;
    top: 50%;
    border-radius: 15%;
    border: 1px solid;
    box-shadow: 0 5px;
    background-color: #fff;
    object-fit: cover;
    
}

.cardContainer {
    width: 90vw;
    max-width: 260px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}