.bottomNavbarContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.topNavContainer {
    border: none;
    position: absolute;
    top: 115px;
    right: 0;
    margin-right: 20px;
}

.topNavUl {
    display: inline-flex;
    list-style-type: none;
}

.topNavLink {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    color: #000;
    padding: 15px;
    display: flex;
    align-items: center;
  }

  .topNavLink img {
      width: 30px;
      padding: 10px;
  }

  .topNavLink:hover {
    color: rgb(153,30,41);
    text-decoration: underline rgb(153,30,41);
}